.navbar {
    height: 5rem !important;
}

span a strong{
    margin: 0 .5rem;
    text-align: center;
    font-size: .7rem;
    height: 2rem;
}

#phoneNumber {
    font-size: 1.2rem;
    margin: 0 1rem;
}

#splitButton {
    border: .1rem solid #1768C4;
    border-radius: 2rem;
    margin: 0 1rem;
}

#splitButton #register{
    margin: .1rem .6rem .1rem .3rem
}

#splitButton #signIn{
    margin: .1rem .3rem .1rem .6rem
}

#splitButton a {
    margin: auto;
}