.custom-select {
    border: .05rem solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-wrapper {
    position: relative;
}

#beginBtn.disabled {
    border-radius: 0.5rem;
    color: darkgray;
    border: none;
    font-size: 1rem;
    padding: .5rem 3rem;
}

#beginBtn {
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    padding: .5rem 3rem;
    background-color: #1768C4 !important;
}

.card {
    margin: 5rem;
    padding: 1rem;
}
