.round {
    border-radius: 50% !important;
    display: inline-block !important;
    font-size: 1rem !important;
    /* border: .1rem solid blue; */
    height: 3rem;
    width: 3rem;
    text-align: center;
    padding: .5rem 1rem;
    background-color: #1768C4 !important;
    /* margin: .5rem; */
}

.disabled {
    border: .1rem solid #bbbbbb;
    background-color: #d8d8d8 !important;
}

#done {
font-size: 1rem !important;
}

.two-numbers {
    padding: .5rem .7rem;
}