#down
{
    /* background-color: white; */
    color: rgb(66, 66, 253);
    text-align: center;
    padding: 1rem 4rem;
}

#up
{
    /* background-color: white; */
    color: rgb(26, 150, 26);
    text-align: center;
    padding: 1rem 4rem;
}

#middle
{
    background-color: #ffca40;
    height: 3.5rem;
}

.list-group
{
    border-color: black;
    border-left: 1rem;
}

#slider
{
    /* padding: 1.5rem 1rem;  */
}

#person
{
    text-align: center;
    color: blue; 
    padding: 1rem 0rem;
    align-content: center;
   
}